/**
 * Description: main styles.
 * Version: 1.0.0
 * Last update: 25.08.2016
 * Author: aglovlyuk@gmail.co
 */
/*$body-bg:						#333;*/
/*$brand-primary:					#333;
$brand-danger:					#ba6767;
$brand-success:					#67af45;*/
/*$font-size-h1:					ceil($font-size-base * 3.75); //~60px*/
/*$font-size-h3:					ceil($font-size-base * 2.5); //~40px*/
/*$font-size-h5:					ceil($font-size-base * 1.875); //~30px
$font-size-h6:					ceil($font-size-base * 1.25); //~20px

//$container-large-desktop:		1170px;

// inputs
$input-bg:						#207172;
$input-color:					$text-color;
$input-color-placeholder:		$input-color;

$input-border-radius:			10px;
$border-radius-base:			10px;
$border-radius-large:			0;
$border-radius-small:			0;*/
/*.progress{
	background:#a2602b;
	box-shadow: inset -1px 1px 2px rgba(0,0,0,0.37), 1px 2px 2px rgba(255,255,255,0.37);
}

.progress-bar-skill{
	background: linear-gradient(to bottom, #e0b283 0%,#cb7e4d 100%);
	border-radius: 10px;
}
*/
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

section {
  border-bottom: 1px solid #fff;
}

.img-border-wh {
  border: 7px white solid;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  margin: 12px 0;
}

.main-nav {
  background: #174365;
  max-width: 940px;
  margin: 0 auto;
  padding: 10px;
}

.heading {
  font-family: Coustard, "Times New Roman", serif;
}

.heading h2 {
  font-size: 72px;
}

.heading .title {
  font-size: 22px;
  font-weight: 400;
  padding: 5px 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 0px 999px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 0px 999px rgba(0, 0, 0, 0.25);
}

.promo {
  background: #2f87cb;
}

.skills {
  background: #cb542f;
}

.team {
  background: #72af3c;
}

.team team-decor-title {
  display: block;
  overflow: hidden;
}

.team .team-decor {
  display: inline-block;
  position: relative;
  padding: 0 13px;
}

.team .team-decor:before, .team .team-decor:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: '';
  border-top: solid #fff;
  border-width: 1px 0;
  left: 100%;
  right: -999px;
}

.team .team-decor:before {
  right: 100%;
  left: -999px;
}

.portfolio {
  background: #cc9031;
  padding-bottom: 70px;
}

.portfolio .heading ul {
  padding-top: 50px;
  padding-bottom: 20px;
}

.portfolio .heading li {
  list-style: none;
  display: inline-block;
  /*position: relative;*/
  font-weight: bold;
  /*line-height: 48px;*/
  /*font-family: font-family-sans-serif;*/
  padding: 0 15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.portfolio .heading li:not(:last-child):after {
  content: "/";
  padding-left: 20px;
}

.portfolio .heading a {
  text-decoration: none;
  padding: 7px 0;
}

.portfolio .heading a:hover,
.portfolio .heading a.active {
  border-top: 3px solid rgba(255, 255, 255, 0.6);
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.8);
}

.blog {
  background: #37a3c7;
}

.Shortcodes {
  background: #45b591;
}

.contact {
  background: #c6a739;
}
